<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.attendencetrackker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendenceTrackker"
        tools:targetApi="31">
        <activity
            android:name=".SubjectlistTrack"
            android:exported="false" />
        <activity
            android:name=".AttendenceMonth"
            android:exported="false" />
        <activity
            android:name=".AttendenceTrack"
            android:exported="false" />
        <activity
            android:name=".FetchReport"
            android:exported="false" />
        <activity
            android:name=".StudentReport"
            android:exported="false" />
        <activity
            android:name=".Studentsect"
            android:exported="false" />
        <activity
            android:name=".SavingAttendence"
            android:exported="false" />
        <activity
            android:name=".Studentlist"
            android:exported="false" />
        <activity
            android:name=".Subjectlist"
            android:exported="false" />
        <activity
            android:name=".AddStudent"
            android:exported="false" />
        <activity
            android:name=".TeacherDashboard"
            android:exported="false" />
        <activity
            android:name=".TeacherRegistration"
            android:exported="false" />
        <activity
            android:name=".TeacherlLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>